* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$white: white;

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  min-height: calc(100vh - 180px);
}
.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 700px;
  min-width: 320px;
  max-width: 400px;
  padding: 60px 68px 40px;
  color: $white;
  border-radius: 40px;
  border: 2px solid rgb(211, 212, 213);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0px 0px 20px 5px #f2efef;
}
.login__container h2 {
  font-size: 1.8rem;
}
.login__container--form {
  display: flex;
  flex-direction: column;
}
.login__container--form label {
  font-size: 1.4rem;
}
.login__container--remember-me {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: $white;
}
.login__container--remember-me a {
  font-size: 1.4rem;
  text-decoration: none;
  color: $white;
}
.login__container--remember-me a:hover {
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.4rem;
}
.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register {
  font-size: 1.4rem;
}
.login__container--register a {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.login__container--register a:hover {
  text-decoration: underline;
}
.input {
  height: 50px;
  padding: 0px 20px;
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  color: $white;
  border-bottom: 2px solid white;
  background-color: transparent;
  outline: none;
}
::placeholder {
  color: $white;
}
.button {
  margin: 10px 0;
  height: 50px;
  border-radius: 25px;
  border: 1px solid white;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $white;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 620px) {
  .login__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 580px;
    padding: 0px 0px 40px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: initial;
    box-shadow: none;
  }
}
