.login__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 580px;
    padding: 0px 0px 40px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: initial;
    box-shadow: none;
}